<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

    <title>Modern</title>
    <style type="text/css">
	a:hover { text-decoration: none !important; }
    .header h1 {color: #47c8db !important; font: bold 32px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 40px;}
    .header p {color: #c6c6c6; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 18px;}
    .sidebar table.toc-table  { color: #767676; margin: 0; padding: 0; font-size: 12px;font-family: Helvetica, Arial, sans-serif; }
    .sidebar table.toc-table td {padding: 0 0 5px; margin: 0;}
    .sidebar h4{color:#eb8484 !important; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
    .sidebar p {color: #989898; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;}
    .sidebar p a{color: #0eb6ce; text-decoration: none;}
    .content h2 {color:#646464 !important; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif;  }
    .content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;}
    .content a {color: #0eb6ce; text-decoration: none;}
    .footer p {font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;}
    .footer a {color: #0eb6ce; text-decoration: none;}
    </style>
</head>

<body style="margin: 0; padding: 0; background: #4b4b4b url('images/bg_email.png');" bgcolor="#4B4B4B">
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="100%" style="padding: 25px 0 65px 0; background: #4b4b4b url('images/bg_email.png');" bgcolor="#4B4B4B">
        <tr>
            <td align="center">
                <!-- Header start -->

                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Helvetica, Arial, sans-serif;border-bottom:2px solid #0090c8; background:#00b9ea;" class="header">

                    <tr>                        
                        <td width="600" align="left" style="padding-bottom:15px;">
                            <img style="padding:0;"src="images/ozonia-logo-reverse-2.gif" alt="ozonia-logo" width=""align="left">

                            <p style="text-align:right; color: #EEC201; font: bold 24px Helvetica, Arial, sans-serif; margin: 0; padding: 15px 15px 15px 0; line-height: 25px;">The world leader in ozone and UV water treatment</p>

                            <p style="text-align:right;"><a style="color: #c6c6c6; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0 15px 0 0; line-height: 18px;" href="www.degremont-technologies.com">www.degremont-technologies.com</a></p>
                        </td>
                    </tr>

                </table><!-- header-->
				<table width='600' align='center' style="background:#FFFFFF; padding:0 20px">
					<tr>
						<td>
							<p style="text-align:right;color: #c6c6c6; font: normal 12px Helvetica, Arial, sans-serif; margin: 0; padding: 0; line-height: 18px;">Stettbachstrasse 1 &bull; 8600 Duebendorf Switzerland &bull; +41 44 801 85 11 </p>
						</td>
					</tr>
                    <tr>                        
                        <td style="margin:0;padding:0;margin:0;border-top:2px solid #00aadc;border-bottom:1px solid #a2a2a2;"></td>
                    </tr>		
				</table>
                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Helvetica, Arial, sans-serif; background: #fff url('images/bg_table2.png') repeat-y;" bgcolor="#fff">
                    <tr>
                        <td width="414" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif; padding: 25px 0 0;" class="content">
                            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="414">
                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 0;  font-family: Helvetica, Arial, sans-serif; background: url('images/bg_date.png') no-repeat left top; height:20px; line-height: 20px;" align="center" width="369" height="20">
                                        <h3 style="color:#666; font-weight: bold; text-transform: uppercase; margin: 0; padding: 0; line-height: 10px; font-size: 10px;"></h3>
                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>

                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 20px 0 0;" align="left">
                                        <h2 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; ">The MEMBREL<sup>&reg;</sup> MkIV Makes a Splash</h2>
                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>
                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 10px 0 8px;" valign="top">
                                        <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;">
										The most effective way to disinfect Ultra Pure Water loops in industrial and pharmaceutical applications.
                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>
                               <!-- Image -->
                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 8px 0;" valign="top"><img src="images/membrel-mkIV-crop2.jpg" style="border: 1px solid #e9e9e9; display: block;" border="1" alt=""></td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>
                               
                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 10px 0 8px;" valign="top">
                                        <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;">
										Originally developed in the early 1980's MEMBREL® MkIV is Ozonia's latest generation of electrolytic ozone generators which uses solid polymer electrolyte with a brand new GFRP cell body, and state-of-the-art electronics for ozone production.<br /><br />
										
										Installation of a <a href="">MEMBREL<sup>&reg;</sup> MkIV</a> is an effective way of sanitizing a pure water loop. Because the ozone is produced from the water being treated there are no contaminants. The use of chemicals or additional treatment steps is not necessary.</p>
                                        <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;">&nbsp;</p>
                                        <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif;"><a href="http://ozonia.com/ozone.php#membrel" style="border:none;background:none;"><img src="images/btn_learnmore.jpg" width="152" height="36" alt="Link to Membrel"></a></p>

                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>

                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 5px 0 5px;" valign="top"><img src="images/divider.png" alt="" style="border-top: 10px solid #fff"></td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>

                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 15px 0 0;" align="left">
                                        <h2 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 26px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; ">New Production Center Opening</h2>
                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>

                                <tr>
                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>

                                    <td style="padding: 10px 0 45px;" valign="top">
                                        <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="369">
                                            <tr>
                                                <td style="padding: 5px 0 7px 0px;" valign="top" align="left">
                                                    <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; width: 165px">Although Ozonia was founded in 1990 it has more than 30 years of experience in developing, designing, manufacturing and installing treatment systems due to its ABB Asea Brown Boveri and Degrémont backgrounds.</p>
                                                </td>

                                                <td valign="top" style="padding: 5px 0 7px 0px;"><img src="images/production-center.jpg" style="border: 1px solid #e9e9e9; display: block;" border="1" alt="" align="right"></td>
                                            </tr>
                                            <tr>
                                                <td style="padding: 5px 0 7px 0px;" valign="top" align="left">
                                                    <p style="color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Helvetica, Arial, sans-serif; width: 165px"><a href="http://ozonia.com/about.php">More about Ozonia &raquo;</a></p>
                                                </td>

                                            </tr>

                                        </table>
                                    </td>

                                    <td width="22" style="font-size: 1px; line-height: 1px;"><img src="images/spacer.gif" alt="space" width="20"></td>
                                </tr>
                            </table>
                        </td>

                        <td width="186" valign="top" align="left" style="font-family: Helvetica, Arial, sans-serif;" class="sidebar">
                            <table cellpadding="0" cellspacing="0" border="0" style="color: #717171; font: normal 11px Helvetica, Arial, sans-serif; margin: 0; padding: 0;" width="186">
                                <tr>
                                    <td style="padding: 25px 0 7px 20px;" valign="top" align="left">
                                        <h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px;font-family: Helvetica, Arial, sans-serif;">Benefits of the MEMBREL<sup>&reg;</sup> MkIV</h3>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>

                                <tr>
                                    <td style="padding: 7px 7px 15px 20px;">
                                        <table cellpadding="0" cellspacing="0" border="0" style="color: #767676; margin: 0; padding: 0; font-size: 12px;font-family: Helvetica, Arial, sans-serif; list-style: none;">
                                            <tr>
                                                <td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top" width="8"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td>

                                                <td style="padding: 0 0 8px; margin: 0; line-height: 14px; vertical-align: top;" valign="top">Electrolytic ozone production</td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td>

                                                <td style="padding: 0 0 8px; margin: 0; line-height: 14px; vertical-align: top;" valign="top">User friendly with individual cell controls</td>
                                            </tr>

                                            <tr>
                                                <td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td>

                                                <td style="padding: 0 0 8px; margin: 0; line-height: 14px; vertical-align: top;" valign="top">Remote control capabilities</td>                                                
                                            </tr>

                                            <tr>
                                                <td style="padding: 0; margin: 0; vertical-align: top; line-height: 0" valign="top"><img src="images/bg_bullet.jpg" border="0" width="2" height="10"></td>

                                                <td style="padding: 0 0 8px; margin: 0; line-height: 14px; vertical-align: top;" valign="top"><a style="color: #0eb6ce; text-decoration: none;" href="">Learn More</a></td>                                                
                                            </tr>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center"><img src="images/bg_side_div.png" alt="" width="154" height="1"></td>
                                </tr>

                                <tr>
                                    <td style="padding: 20px 0 7px 20px;" valign="top" align="left">
                                        <h3 style="color:#646464; font-weight: bold; margin: 0; padding: 0; line-height: 18px; font-size: 18px; font-family: Helvetica, Arial, sans-serif; ">Literature</h3>
                                    </td>
                                </tr>

                                <tr>
                                    <td></td>
                                </tr>
<!--

                                <tr>
                                    <td style="padding: 5px 5px 8px 20px; font-family: Helvetica, Arial, sans-serif;">
                                        <h3 style="color:#eb8484; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;">The cows are escaping from Østfold County!</h3>
                                    </td>
                                </tr>
-->

                                <tr>
                                    <td style="padding: 0px 5px 10px 20px; font-family: Helvetica, Arial, sans-serif;">
                                        <p style="color: #989898; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Discover the features of the MEMBREL<sup>&reg;</sup> MkIV</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td style="padding: 0px 5px 15px 20px; font-family: Helvetica, Arial, sans-serif;">
                                        <p style="color: #989898; font-size: 11px;line-height: 16px;font-family: Helvetica, Arial, sans-serif; margin: 0; padding: 0;"><a href="http://ozonia.com/media/pdf/ozone/MEMBREL_screen-MKIV.pdf">Download Product Sheet &raquo;</a></p>
                                    </td>
                                </tr>

                                <tr>
                                    <td align="center"><img src="images/double_divider.png" alt="" width="186" height="4"></td>
                                </tr>

                                <tr>
                                    <td style="padding: 15px 0 8px; font-family: Helvetica, Arial, sans-serif; " valign="top" align="center"><img src="images/btn_forward.png" alt="Forward to Friend" style="border: 0" border="0"></td>
                                </tr>

                                <tr>
                                    <td align="center"><img src="images/bg_side_div.png" alt="" width="154" height="1"></td>
                                </tr>

                                <tr>
                                    <td style="padding: 8px 0 5px; font-family: Helvetica, Arial, sans-serif; " valign="top" align="center"><img src="images/btn_unsubscribe.png" alt="Forward to Friend" style="border: 0" border="0"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td width="600" align="left" style="padding: font-size: 0; line-height: 0; height: 3px;" height="3" colspan="2"><img src="images/bg_bottom.png" alt="header bg"></td>
                    </tr>
                </table><!-- body -->

                <table cellpadding="0" cellspacing="0" border="0" align="center" width="600" style="font-family: Helvetica, Arial, sans-serif; line-height: 10px;" class="footer">
                    <tr>
                        <td align="center" style="padding: 5px 0 10px; font-size: 11px; color:#7d7a7a; margin: 0; line-height: 1.2;font-family: Helvetica, Arial, sans-serif;" valign="top">
                            <br>

<!--                             <p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;">You're receiving this newsletter because you bought widgets from us.</p> -->

                            <p style="font-size: 11px; color:#7d7a7a; margin: 0; padding: 0; font-family: Helvetica, Arial, sans-serif;">Having trouble reading this? <a href="">View it in your browser</a>. Not interested? <a href="">Unsubscribe instantly</a>.</p>
                        </td>
                    </tr>
                </table><!-- footer-->
            </td>
        </tr>
    </table>
</body>
</html>
